@model AssetManagement.Models.MainBoard

@{
    ViewData["Title"] = "Edit";
}


<div class="m-4 px-1">
    <h4>Update Main Board</h4>
    <hr />

    <div>
        <form asp-action="Edit" class="row" id="edit-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BoardID" />
            <div class="form-group col-4">
                <label asp-for="BoardDescription" class="form-label"></label>
                <input asp-for="BoardDescription" class="form-control" />
                <span asp-validation-for="BoardDescription" class="text-danger"></span>
            </div>
            <div class="form-group col-4">
                <label asp-for="BoardStatus" class="form-label"></label>
                <input asp-for="BoardStatus" class="form-control" />
                <span asp-validation-for="BoardStatus" class="text-danger"></span>
            </div>
            <div class="form-group col-2" hidden>
                <label asp-for="BoardCreatedBy" class="form-label"></label>
                <input asp-for="BoardCreatedBy" class="form-control" />
                <span asp-validation-for="BoardCreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group col-2" hidden>
                <label asp-for="BoardCreatedDate" class="form-label"></label>
                <input asp-for="BoardCreatedDate" class="form-control" />
                <span asp-validation-for="BoardCreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group col-2" hidden>
                <label asp-for="BoardUpdatedBy" class="form-label"></label>
                <input asp-for="BoardUpdatedBy" class="form-control" />
                <span asp-validation-for="BoardUpdatedBy" class="text-danger"></span>
            </div>
            <div class="form-group col-2" hidden>
                <label asp-for="BoardUpdatedDate" class="form-label"></label>
                <input asp-for="BoardUpdatedDate" class="form-control" />
                <span asp-validation-for="BoardUpdatedDate" class="text-danger"></span>
            </div>
            <div class="form-group col d-flex align-items-end gap-2">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

