@model AssetManagement.Models.Brand

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

<hr/>
<div>
    <div>
        <form asp-action="Edit" class="row" id="edit-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BrandId" />
            <div class="form-group col-md-3">
                <label asp-for="BrandDescription" class="control-label"></label>
                <input asp-for="BrandDescription" class="form-control" />
                <span asp-validation-for="BrandDescription" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="BrandStatus" class="control-label"></label>
                <input asp-for="BrandStatus" class="form-control" />
                <span asp-validation-for="BrandStatus" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="BrandCreatedBy" class="control-label"></label>
                <input asp-for="BrandCreatedBy" class="form-control" />
                <span asp-validation-for="BrandCreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="BrandCreatedDate" class="control-label"></label>
                <input asp-for="BrandCreatedDate" class="form-control" />
                <span asp-validation-for="BrandCreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="BrandUpdatedBy" class="control-label"></label>
                <input asp-for="BrandUpdatedBy" class="form-control" />
                <span asp-validation-for="BrandUpdatedBy" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="BrandUpdatedDate" class="control-label"></label>
                <input asp-for="BrandUpdatedDate" class="form-control" />
                <span asp-validation-for="BrandUpdatedDate" class="text-danger"></span>
            </div>
            <div class="form-group mt-4 mb-2 col
">
                <a asp-action="Index" class="btn btn-outline-secondary text-start me-2">Back</a>
                <input type="submit" value="Save" class="btn btn-theme"/>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    $(document).ready(function () {
        $(".btn-save").click(function () {

            var formData = $("#edit-form").serialize();
            $.ajax({
                url: "@Url.Action("Edit","Brands")",
                type: "POST",
                data: { formData: formData },
                success: function (res) {
                    window.location.reload();
                }
            })
        })
    })
</script>
