@model AssetManagement.Models.DesktopInventory

@{
    ViewData["Title"] = "Create";
}

@if (@TempData["AlertMessage"] != null)
{
    <div id="alertMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["AlertMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="m-4">
    <h4>Add Desktop Inventory</h4>
    <hr />
    <div>
        <form asp-action="Create">
            <div class="row form-group">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <!-- Hidden field for desktopInvCode -->
                <div class="form-group col-md-2 mb-3" hidden>
                    <label asp-for="desktopInvCode" class="control-label"></label>
                    <input asp-for="desktopInvCode" class="form-control" />
                    <span asp-validation-for="desktopInvCode" class="text-danger"></span>
                </div>

                <!-- Description -->
                <div class="form-group col-md-2 mb-3">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" placeholder="Enter Description" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <!-- Level -->
                <div class="form-group col-md-2 mb-3">
                    <label asp-for="DTLevel" class="control-label"></label>
                    <select asp-for="DTLevel" class="form-select" asp-items="ViewBag.DTLevel">
                        <option selected disabled>select level</option>
                    </select>
                    <span asp-validation-for="DTLevel" class="text-danger"></span>
                </div>
                <!-- Brand -->
                <div class="form-group col-md-2 mb-3">
                    <label asp-for="DTBrand" class="control-label"></label>
                    <select asp-for="DTBrand" class="form-select" asp-items="ViewBag.DTBrand">
                        <option selected disabled>select brand</option>
                    </select>
                    <span asp-validation-for="DTBrand" class="text-danger"></span>
                </div>
                <!-- Model -->
                <div class="form-group col-md-2 mb-3">
                    <label asp-for="DTModel" class="control-label"></label>
                    <select asp-for="DTModel" class="form-select" asp-items="ViewBag.DTModel">
                        <option selected disabled>select model</option>
                    </select>
                    <span asp-validation-for="DTModel" class="text-danger"></span>
                </div>
                <!-- MainBoard -->
                <div class="form-group col-md-2 mb-2">
                    <label asp-for="DTMBoard" class="control-label"></label>
                    <select asp-for="DTMBoard" class="form-select" asp-items="ViewBag.DTMBoard">
                        <option selected disabled>select main board</option>
                    </select>
                    <span asp-validation-for="DTMBoard" class="text-danger"></span>
                </div>
                <!-- CPU -->
                <div class="form-group col-md-2 mb-3">
                    <label asp-for="DTcpu" class="control-label"></label>
                    <select asp-for="DTcpu" class="form-select" asp-items="ViewBag.DTcpu">
                        <option selected disabled>select cpu</option>
                    </select>
                    <span asp-validation-for="DTcpu" class="text-danger"></span>
                </div>
                <!-- Graphics -->
                <div class="form-group col-md-2 mb-3">
                    <label asp-for="DTgraphics" class="control-label"></label>
                    <select asp-for="DTgraphics" class="form-select" asp-items="ViewBag.DTgraphics">
                        <option selected disabled>select graphics</option>
                    </select>
                    <span asp-validation-for="DTgraphics" class="text-danger"></span>
                </div>
                <!-- Harddisk -->
                <div class="form-group col-md-2 mb-3">
                    <label asp-for="DTHardisk" class="control-label"></label>
                    <select asp-for="DTHardisk" class="form-select" asp-items="ViewBag.DTHardisk">
                        <option selected disabled>select hard disk</option>
                    </select>
                    <span asp-validation-for="DTHardisk" class="text-danger"></span>
                </div>
                <!-- Memory -->
                <div class="form-group col-md-2 mb-3">
                    <label asp-for="DTMemory" class="control-label"></label>
                    <select asp-for="DTMemory" class="form-select" asp-items="ViewBag.DTMemory">
                        <option selected disabled>select memory</option>
                    </select>
                    <span asp-validation-for="DTMemory" class="text-danger"></span>
                </div>
                <!-- OS -->
                <div class="form-group col-md-2 mb-3">
                    <label asp-for="DTOS" class="control-label"></label>
                    <select asp-for="DTOS" class="form-select" asp-items="ViewBag.DTOS">
                        <option selected disabled>select os</option>
                    </select>
                    <span asp-validation-for="DTOS" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2 mb-3" hidden>
                    <label asp-for="AllocatedNo" class="control-label"></label>
                    <input asp-for="AllocatedNo" class="form-control" />
                    <span asp-validation-for="AllocatedNo" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2 mb-2 d-flex align-items-end gap-3 mt-3">
                    <input type="submit" value="Save" class="btn btn-theme createbtn" />
                    <a class="btn btn-outline-secondary" asp-action="Index">Back to List</a>
                </div>
            </div>
        </form>
    </div>
    <div class="displaytable"></div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
