@model AssetManagement.Models.MonitorNewAlloc

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MonitorNewAlloc</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SecAllocId" />
            <div class="form-group">
                <label asp-for="AllocId" class="control-label"></label>
                <select asp-for="AllocId" class="form-control" asp-items="ViewBag.AllocId"></select>
                <span asp-validation-for="AllocId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecMonitorCode" class="control-label"></label>
                <select asp-for="SecMonitorCode" class="form-control" asp-items="ViewBag.SecMonitorCode"></select>
                <span asp-validation-for="SecMonitorCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SerialNumber" class="control-label"></label>
                <select asp-for="SerialNumber" class="form-control" asp-items="ViewBag.SerialNumber"></select>
                <span asp-validation-for="SerialNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecOwnerCode" class="control-label"></label>
                <select asp-for="SecOwnerCode" class="form-control" asp-items="ViewBag.SecOwnerCode"></select>
                <span asp-validation-for="SecOwnerCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecAllocationStatus" class="control-label"></label>
                <select asp-for="SecAllocationStatus" class="form-control" asp-items="ViewBag.SecAllocationStatus"></select>
                <span asp-validation-for="SecAllocationStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AllocCreated" class="control-label"></label>
                <select asp-for="AllocCreated" class="form-control" asp-items="ViewBag.AllocCreated"></select>
                <span asp-validation-for="AllocCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AllocUpdated" class="control-label"></label>
                <select asp-for="AllocUpdated" class="form-control" asp-items="ViewBag.AllocUpdated"></select>
                <span asp-validation-for="AllocUpdated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateUpdated" class="control-label"></label>
                <input asp-for="DateUpdated" class="form-control" />
                <span asp-validation-for="DateUpdated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
