@model AssetManagement.Models.ReturnDTA

@{
    ViewData["Title"] = "Create";
}



<div class="m-4 px-1">
    <h4>Return Desktop Allocation</h4>
    <hr />
    <div>
        <form asp-action="CreateSecReturn">
            <div class="row form-group">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group col-md-3 mb-3">
                    <label asp-for="AllocID" class="control-label"></label>
                    <input asp-for="AllocID" readonly value="@ViewBag.Id" class="form-control" style="background-color: white;" />
                </div>
                <div class="form-group col-md-3 mb-3" id="ownertable">
                    <label asp-for="RTtype" class="control-label"></label>
                    <input asp-for="RTtype" class="form-control" id="oid" hidden />
                    <input class="form-control" id="odes" readonly style="background-color: white;" />
                </div>
                <div class="form-group cold-md-3 d-flex align-items-end gap-3 mt-3">
                    <input type="submit" value="Save" class="btn btn-theme" />>
                    <a class="btn btn-outline-secondary" asp-action="Index" asp-controller="DesktopNewAllocs">Back to List</a>
                </div>
            </div>
        </form>
    </div>

    <div class="displaytable"></div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script>
    $(document).ready(function () {
        //OWNER

        $("#ownertable").click(function () {

            $('#oid').val(null);

            $('#odes').val(null);
            $.ajax({
                url: "@Url.Action("ReturnPartialView", "ReturnTypes")",
                type: "GET",
                success: function (res) {
                    $(".displaytable").html(res);
                }
            })
        })



    })
</script>