@model AssetManagement.Models.ReturnDTA

@{
    ViewData["Title"] = "Edit";
}
<style>

    *,
    *::before,
    *::after {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }



    body {
        font-family: 'Chivo', sans-serif;
        margin: 0;
        padding: 10px;
        overflow: hidden;
    }
</style>
<h4>Return Desktop Allocation</h4>
<hr />
<div>

    <form asp-action="Edit" class="row" id="edit-form">
        <div class="row form-group">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ReturnID" />
            <div class="form-group col-3">
                <label asp-for="AllocID" class="control-label"></label>
                <input asp-for="AllocID" class="form-control" />
                <span asp-validation-for="AllocID" class="text-danger"></span>
            </div>
            <div class="form-group col-2" id="ownertable">
                <label asp-for="RTtype" class="control-label"></label>
                <input asp-for="RTtype" class="form-control" id="oid" hidden />
                <input class="form-control" id="odes" readonly style="background-color: white;" />
            </div>
            <div class="form-group col-3" hidden>
                <label asp-for="RTStatus" class="control-label"></label>
                <select asp-for="RTStatus" class="form-control" asp-items="ViewBag.RTStatus"></select>
                <span asp-validation-for="RTStatus" class="text-danger"></span>
            </div>
            <div class="form-group col-3" hidden>
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group col-3" hidden>
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group col-3" style="margin-top:23px;">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn bg-secondary text-white " asp-action="Index">BACK</a>
            </div>
        </div>
    </form>

</div>

<div class="displaytable"></div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script>
    $(document).ready(function () {
        //OWNER

        $("#ownertable").click(function () {

            $('#oid').val(null);

            $('#odes').val(null);
            $.ajax({
                url: "@Url.Action("ReturnPartialView","ReturnTypes")",
                type: "GET",
                success: function (res) {
                    $(".displaytable").html(res);
                }
            })
        })



    })
</script>
