/* Custom scrollbar only to the .dropdown-menu */
.dropdown-menu::-webkit-scrollbar {
    width: 8px;
}

.dropdown-menu::-webkit-scrollbar-track {
    background: rgba(136, 136, 136, 0.5);
}

.dropdown-menu::-webkit-scrollbar-thumb {
    background: var(--theme);
    border-radius: 5px;
}

    .dropdown-menu::-webkit-scrollbar-thumb:hover {
        background: #ce4e4e;
    }


header .navbar {
    background-color: var(--theme)!important; 
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

    header .navbar-nav .nav-item a {
        font-size: 14px !important;
    }

.navbar-light .navbar-nav .nav-link {
    color: var(--light)!important;
    transition: none!important;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: var(--theme)!important;
    background-color: var(--light);
    border-radius: 5px!important;
}


li.nav-item.dropdown.show .nav-link {
    color: var(--theme)!important;
    background-color: var(--light);
    border-radius: 5px !important;
}


.dropdown-menu ul li a {
    cursor: pointer;
    cursor: pointer;
}


.dropdown:hover > .dropdown-menu {
    display: block;
    padding: 0 !important;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
    padding: 0 !important;
}


/*DROPDOWN OF THE MENU */
.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px;
    }


.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}


.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}

.dropbtn {
    border: none;
    cursor: pointer;
}

.dropdown-menu {
    box-shadow: none;
    z-index: 999;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /*border-radius: 5px!important;*/
}

    /* Level 1 menu */
    .dropdown-menu  li > a {
        text-decoration: none;
        color: #9A9A9A;
        background-color: #FFFDFA;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        /* Level 1 menu hover */
        .dropdown-menu li > a:hover {
            color: var(--theme);
            background: rgb(239, 237, 237);
            font-weight: 900;
        }

/* Level 2 and below menu */
.dropdown-submenu > .dropdown-menu {
    border-top: none;
}

    /* Level 2 menu */
    .dropdown-submenu > .dropdown-menu > li > a {
        color: #9A9A9A;
    }

        /* Level 2 menu hover */
        .dropdown-submenu > .dropdown-menu > li > a:hover {
            background: rgb(239, 237, 237);
            color: var(--theme);
            font-weight: 900;
        }

/* Level 3 and below menu */
.dropdown-submenu .dropdown-submenu > .dropdown-menu {
    border-top: none;
}

    /* Level 3 menu */
    .dropdown-submenu .dropdown-submenu > .dropdown-menu > li > a {
        color: #9A9A9A;
    }

        /* Level 3 menu hover */
        .dropdown-submenu .dropdown-submenu > .dropdown-menu > li > a:hover {
            background: rgb(239, 237, 237);
            color: var(--theme);
            font-weight: 900;
        }

/* Arrow indicator */
.dropdown-submenu > a:after {
    border-color: var(--theme);
}

/* Arrow indicator on hover */
.dropdown-submenu:hover > a:after {
    border-left-color: var(--theme);
    position: relative;
    right: 5px;
}



/* DROPDOWN SETTINGS */
.simplemenu {
    background-color: #E6E6E6;
    position: relative;
    right: 70px;
}
/*#106F04*/


.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}



    @keyframes toastFade {
        0% {
            opacity: 0;
        }

        10% {
            opacity: .5;
        }

        90% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }









/*MODAL*/
.modal-content {
    background-color: white;
    color: #121212;
    justify-content: center;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.modal-body {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.dev-opt .box-opt {
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid var(--)
}

    .dev-opt .box-opt:hover {
        background-color: var(--theme);
    }

    .dev-opt .box-opt a:hover {
        color: #fff !important;
    }

    .dev-opt .box-opt a {
        display: flex;
        border: 1px solid var(--bs-gray-200);
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 20px;
    }

    /* Add your custom styles for dropdown */
    .dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s, transform 0.3s;
    z-index: 1;
}

    .dropdown-content1.show {
        display: block;
        opacity: 1;
        transform: translateY(0);
    }







/*COOL DROP DOWN menu */
/* Example CSS styles for cool dropdown */
.cool-dropdown {
    position: relative;
    display: inline-block;
}

.cool-dropbtn {
    color: #555555;
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 3.6s ease;
}


.cool-icon {
    margin-right: 5px;
}

.cool-dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 10px;
}

    .cool-dropdown-content a {
        color: #555555;
        display: block;
        padding: 5px;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }

        .cool-dropdown-content a:hover {
            background-color: lightgreen;
        }

.cool-dropdown:hover .cool-dropdown-content {
    display: block;
}

.cool-link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/*COOL DROPDOWN for SETTINGS*/
