@model AssetManagement.Models.UpsServe

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>UpsServe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UpsServeStore" class="control-label"></label>
                <select asp-for="UpsServeStore" class="form-control" asp-items="ViewBag.UpsServeStore"></select>
                <span asp-validation-for="UpsServeStore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpsServeCode" class="control-label"></label>
                <select asp-for="UpsServeCode" class="form-control" asp-items="ViewBag.UpsServeCode"></select>
                <span asp-validation-for="UpsServeCode" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="UnitNo" />
            <div class="form-group">
                <label asp-for="UnitServe" class="control-label"></label>
                <input asp-for="UnitServe" class="form-control" />
                <span asp-validation-for="UnitServe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitCreatedBy" class="control-label"></label>
                <select asp-for="UnitCreatedBy" class="form-control" asp-items="ViewBag.UnitCreatedBy"></select>
                <span asp-validation-for="UnitCreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitCreatedAt" class="control-label"></label>
                <input asp-for="UnitCreatedAt" class="form-control" />
                <span asp-validation-for="UnitCreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
