@model AssetManagement.Models.InventoryDetails

@{
    ViewData["Title"] = "Create";
}

<div class="mx-4">
    <h4>Add Inventory Details</h4>
    <hr />
    <div>
        <form asp-action="Create">
            <div class="row form-group">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                @if (ViewBag.Code != null)
                {
                    <div class="form-group col-md-2 mb-3">
                        <label asp-for="laptoptinvCode" class="control-label"> LAPTOP DESCRIPTION </label>
                        <input asp-for="laptoptinvCode" value="@ViewBag.Code" readonly hidden />
                        <input id="code" value="@ViewBag.Description" disabled class="form-select" />
                        <span asp-validation-for="laptoptinvCode" class="text-danger"></span>
                    </div>
                }
                else
                {
                    <div class="form-group col-md-2 mb-3">
                        <label asp-for="laptoptinvCode" class="control-label">LAPTOP DESCRIPTION </label>
                        <select asp-for="laptoptinvCode" class="form-select" asp-items="ViewBag.LTInvCode" onchange="loadPartialView(this.value)">
                            <option selected>select laptop code</option>
                        </select>
                        <span asp-validation-for="laptoptinvCode" class="text-danger"></span>
                    </div>
                }

                <div class="form-group col-md-2 mb-2">
                    <label asp-for="SerialCode" class="control-label"></label>
                    <input asp-for="SerialCode" class="form-control" required placeholder="Enter Serial No" id="serialTable" /> 
                    <span asp-validation-for="SerialCode" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="ComputerName" class="control-label"></label>
                    <input asp-for="ComputerName" class="form-control" required placeholder="Enter Computer Name" />
                    <span asp-validation-for="ComputerName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2 mb-2">
                    <label asp-for="PO" class="control-label"></label>
                    <input asp-for="PO" class="form-control" required placeholder="Enter PO" />
                    <span asp-validation-for="PO" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2 mb-2">
                    <label asp-for="Price" class="control-label"></label>
                    <input type="number" asp-for="Price" class="form-control" placeholder="Enter Price" required />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2 mb-3">
                    <label asp-for="LTDVendor" class="control-label"></label>
                    <select asp-for="LTDVendor" class="form-select" asp-items="ViewBag.LTVendor" required>
                        <option selected disabled>select vendor</option>
                    </select>
                    <span asp-validation-for="LTDVendor" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2 mb-2">
                    <label asp-for="PurchaseDate" class="control-label"></label>
                    <input asp-for="PurchaseDate" class="form-control" required />
                    <span asp-validation-for="PurchaseDate" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2 mb-2">
                    <label asp-for="DeployedDate" class="control-label"></label>
                    <input asp-for="DeployedDate" class="form-control" required />
                    <span asp-validation-for="DeployedDate" class="text-danger"></span>
                </div>
                <div class="form-group cold-md-2 d-flex align-items-end gap-3 mt-3">
                    <input type="submit" value="Create" class="btn btn-theme " />
                    <a class="btn btn-outline-secondary" asp-controller="LaptopInventories" asp-action="Index" asp-route-typeId="@ViewBag.LTTypeId">Back to List</a>
                </div>
            </div>
        </form>
    </div>

    <div class="displaytable"></div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        var code = $("#code").val();
        if (code) {
            $("#serialTable").click(function () {
                loadPartialView(code);
            })
        }
        function loadPartialView(lapInvCode) {
            if (lapInvCode) {
                $.ajax({
                    url: '@Url.Action("LapInvenPartialView", "LaptopInventories")',
                    type: "GET",
                    data: { code: lapInvCode },
                    success: function (res) {
                        $(".displaytable").html(res);
                    },
                    error: function (xhr, status, error) {
                        console.log("Error: " + error);
                    }
                });
            }
        }
    </script>

}

