@model AssetManagement.Models.DeviceType

@{
    ViewData["Title"] = "Create";
    Layout = null;
}


<hr />
<div>
    <form asp-action="Create">
        <div class="form-group">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-md-3 mb-3">
                <label asp-for="DevtypeDescription" class="control-label"></label>
                <input asp-for="DevtypeDescription" class="form-control" placeholder="Enter Description" />
                <span asp-validation-for="DevtypeDescription" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3 mb-3 d-flex align-items-end gap-2 ">
                <input type="submit" value="Create" class="btn btn-theme" />
                <a class="btn btn-outline-secondary " asp-action="Index">Back to List</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
