@model AssetManagement.Models.DesktopInventoryDetail

@{
    ViewData["Title"] = "Edit Dekstop Details";
}


<div class="m-4">
    <h4>Edit Dekstop Details</h4>

    <hr />
    <div class="row">
        <form asp-action="Edit" method="post">
            <div class="row form-group">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group col-md-3 mb-3">
                    <label asp-for="desktopInvCode" class="control-label"></label>
                    <input asp-for="desktopInvCode" class="form-control" readonly />
                    <span asp-validation-for="desktopInvCode" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3 mb-3">
                    <label asp-for="unitTag" class="control-label"></label>
                    <input asp-for="unitTag" class="form-control" readonly />
                    <span asp-validation-for="unitTag" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3 mb-3">
                    <label asp-for="PO" class="control-label"></label>
                    <input asp-for="PO" class="form-control" />
                    <span asp-validation-for="PO" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3 mb-3">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control"/>
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3 mb-3">
                    <label asp-for="DTDVendor" class="control-label"></label>
                    <select asp-for="DTDVendor" class="form-select" asp-items="ViewBag.DTDVendor"></select>
                    <span asp-validation-for="DTDVendor" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3 mb-3">
                    <label asp-for="DTStatus" class="control-label">STATUS</label>
                    <select asp-for="DTStatus" class="form-select" asp-items="ViewBag.DTStatus"></select>
                    <span asp-validation-for="DTStatus" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3 mb-3">
                    <label asp-for="PurchaseDate" class="control-label">PURCHASE DATE</label>
                    <input asp-for="PurchaseDate" class="form-control" />
                    <span asp-validation-for="PurchaseDate" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3 mb-3">
                    <label asp-for="DeployedDate" class="control-label">DEPLOYED DATE</label>
                    <input asp-for="DeployedDate" class="form-control" />
                    <span asp-validation-for="DeployedDate" class="text-danger"></span>
                </div>
                <div class="d-flex align-items-end gap-3 mt-2">
                    <input type="submit" value="Save" class="btn btn-theme" />
                    <a class="btn btn-outline-secondary" asp-action="Index">Back to List</a>
                </div>
            </div>
        </form>
    </div>

</div>
   

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
