@model AssetManagement.Models.MonitorInventory

@{
    ViewData["Title"] = "Create";
}


@if (@TempData["AlertMessage"] != null)
{
    <div id="alertMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["AlertMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


<div class="m-4">
    <h4>Add Monitor Inventory</h4>
    <hr />
    <div>
        <form asp-action="Create">
            <div class="row form-group">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group col-md-4 mb-2" hidden>
                    <label asp-for="monitorCode" class="control-label"></label>
                    <input asp-for="monitorCode" class="form-control" />
                    <span asp-validation-for="monitorCode" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 mb-2">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" placeholder="Enter description" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 mb-2">
                    <label asp-for="MonitorModel" class="control-label"></label>
                    <select asp-for="MonitorModel" class="form-select" asp-items="ViewBag.MonitorModel">
                        <option selected disabled>Select Model</option>
                    </select>
                    <span asp-validation-for="MonitorModel" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 mb-2" hidden>
                    <label asp-for="MonitorStatus" class="control-label"></label>
                    <select asp-for="MonitorStatus" class="form-select" asp-items="ViewBag.MonitorStatus">
                        <option selected disabled>Select Status</option>
                    </select>
                    <span asp-validation-for="MonitorStatus" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 mb-2 d-flex align-items-end gap-3 mt-3">
                    <input type="submit" value="Save" class="btn btn-theme createbtn" />
                    <a class="btn btn-outline-secondary" asp-action="Index">Back to List</a>
                </div>
            </div>
        </form>
    </div>
    <div class="displaytable"></div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

