@model AssetManagement.Models.MonitorInventory

@{
    ViewData["Title"] = "Create";
}


@if (@TempData["AlertMessage"] != null)
{
    <div id="alertMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["AlertMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


<div class="m-4">
    <h4>Monitor  Inventory</h4>
    <hr />
    <div>
        <form asp-action="Create">
            <div class="row form-group">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group col-md-4 mb-2" hidden>
                    <label asp-for="monitorCode" class="control-label"></label>
                    <input asp-for="monitorCode" class="form-control" />
                    <span asp-validation-for="monitorCode" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 mb-2">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" placeholder="Enter description" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 mb-2" id="modeltable">
                    <label asp-for="MonitorModel" class="control-label"></label>
                    <input asp-for="MonitorModel" value="0" class="form-control" id="modelid" hidden />
                    <input class="form-select" id="modeldes" placeholder="Select model  below" readonly style="background-color: white;" required />
                </div>
                <div class="form-group col-md-4 mb-2" hidden>
                    <label asp-for="AllocatedNo" class="control-label"></label> 
                    <input asp-for="AllocatedNo" value="0" class="form-control" />
                    <span asp-validation-for="AllocatedNo" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 mb-2" hidden>
                    <label asp-for="MonitorStatus" class="control-label"></label>
                    <select asp-for="MonitorStatus" class="form-control" asp-items="ViewBag.MonitorStatus"></select>
                </div>
                <div class="form-group cold-md-2 d-flex align-items-end gap-3 mt-3">
                    <input type="submit" value="Create" class="btn btn-red createbtn" />
                    <a class="btn btn-outline-secondary" asp-action="Index">Back to List</a>
                </div>
            </div>
        </form>
    </div>

    <div class="displaytable"></div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        $("#modeltable").click(function () {

            $('#modelid').val(null);

            $('#modeldes').val(null);
            $.ajax({
                url: "@Url.Action("ModelPartialView", "Modelss")",
                type: "GET",
                success: function (res) {
                    $(".displaytable").html(res);
                }
            })
        })

        // Function to hide the display table
        function hideTable() {
            $(".displaytable").empty();
        }

        $(document).click(function (event) {
            if (!$(event.target).closest('#modeltable, .displaytable').length) {
                hideTable();
            }
        });

        // Optional: Allow hiding the table if 'Esc' key is pressed
        $(document).keyup(function (e) {
            if (e.key === "Escape") {
                hideTable();
            }
        });
    })
</script>
