@model AssetManagement.Models.MonitorInventory

@{
    ViewData["Title"] = "Edit Monitor";
}


<div class="m-4">
    <h4>Edit Monitor Inventory</h4>
    @if (TempData["Welcome"] != null)
    {
        <p>@TempData["Welcome"]</p>
    }

    @if (@TempData["AlertMessage"] != null)
    {
        <div id="alertMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
            @TempData["AlertMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    <hr />
    <div>
        <form asp-action="Edit">
            <div class="row form-group">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group col-md-3 mb-4">
                    <label asp-for="monitorCode" class="control-label"></label>
                    <input asp-for="monitorCode" class="form-control" readonly />
                    <span asp-validation-for="monitorCode" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3 mb-4">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3 mb-3">
                    <label asp-for="MonitorModel" class="control-label"></label>
                    <select asp-for="MonitorModel" class="form-select" asp-items="ViewBag.Mmodel"></select>
                    <span asp-validation-for="MonitorModel" class="text-danger"></span>
                </div>

                <div class="form-group col-md-3 mb-4" hidden>
                    <label asp-for="AllocatedNo" class="control-label"></label>
                    <input asp-for="AllocatedNo" class="form-control" />
                    <span asp-validation-for="AllocatedNo" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3 mb-4" hidden>
                    <label asp-for="MonitorCreatedBy" class="control-label"></label>
                    <input asp-for="MonitorCreatedBy" class="form-control" />
                    <span asp-validation-for="MonitorCreatedBy" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3 mb-4" hidden>
                    <label asp-for="DateCreated" class="control-label"></label>
                    <input asp-for="DateCreated" class="form-control" />
                    <span asp-validation-for="DateCreated" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3 mb-4" hidden>
                    <label asp-for="MonitorStatus" class="control-label"></label>
                    <select asp-for="MonitorStatus" class="form-control" asp-items="ViewBag.MonitorStatus"></select>
                </div>
                <div class="d-flex align-items-end gap-3 mt-2">
                    <input type="submit" value="Save" class="btn btn-red" />
                    <a class="btn btn-outline-secondary " asp-action="Index">Back to List</a>
                </div>
            </div>
        </form>
    </div>
    <div class="displaytable">
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
