@model AssetManagement.Models.ReturnType

@{
    ViewData["Title"] = "Create";
}


<div class="m-4 px-1">
    <h4> Add Return Type</h4>
    <hr />

    <div>
        <form asp-action="Create">
            <div class="row form-group">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group col-4">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group col-4">
                    <label class="control-label">YES / NO</label>
                    <select asp-for="Return_Inv" class="form-control">
                        <option value="Y">YES</option>
                        <option value="N">NO</option>
                    </select>
                </div>

                <div class="form-group col-4" hidden>
                    <label asp-for="Return_Status" class="control-label"></label>
                    <input asp-for="Return_Status" value="AC" class="form-control" />
                    <span asp-validation-for="Return_Status" class="text-danger"></span>
                </div>
                <div class="form-group mt-4 mb-2 col d-flex align-items-center gap-2">
                    <input type="submit" value="Create" class="btn btn-theme" />
                    <a class="btn btn-secondary" asp-action="Index">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
