@model AssetManagement.Models.ReturnType

@{
    ViewData["Title"] = "Edit";
}



<div class="m-4 px-1">
    <h4>Update Return Type</h4>
    <hr />

    <div>
        <form asp-action="Edit" class="row" id="edit-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TypeID" />
            <div class="form-group col-6">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group col-4">
                <label class="control-label">YES / NO</label>
                <select asp-for="Return_Inv" class="form-control">
                    <option value="Y">YES</option>
                    <option value="N">NO</option>
                </select>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Return_Status" class="control-label"></label>
                <input asp-for="Return_Status" class="form-control" />
                <span asp-validation-for="Return_Status" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group mt-4 mb-2 col d-flex align-items-center gap-2">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    $(document).ready(function () {
        $(".btn-save").click(function () {

            var formData = $("#edit-form").serialize();
            $.ajax({
                url: "@Url.Action("Edit","ReturnTypes")",
                type: "POST",
                data: { formData: formData },
                success: function (res) {
                    window.location.reload();
                }
            })
        })
    })
</script>
