@model AssetManagement.Models.MonitorDetail

@{
    ViewData["Title"] = "Add Monitor Quantity";
}



<div class="mx-4">
    <h4>Add Monitor Details</h4>
    <hr />
    <div>
        <form asp-action="Create">
            <div class="row form-group">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @if (ViewBag.Code != null)
                {
                    <div class="form-group col-md-2 mb-3">
                        <label asp-for="monitorCode" class="control-label"></label>
                        <input asp-for="monitorCode" value="@ViewBag.Code" readonly hidden />
                        <input id="code" value="@ViewBag.Code" disabled class="form-select" />
                        <span asp-validation-for="monitorCode" class="text-danger"></span>
                    </div>
                }
                else
                {
                    <div class="form-group col-md-2 mb-3">
                        <label asp-for="monitorCode" class="control-label"></label>
                        <select asp-for="monitorCode" class="form-select" asp-items="ViewBag.MTInvCode" onchange="loadPartialView(this.value)">
                            <option selected disabled>select monitor code</option>
                        </select>
                        <span asp-validation-for="monitorCode" class="text-danger"></span>
                    </div>
                }

                <div class="form-group col-md-2 mb-2">
                    <label asp-for="SerialNumber" class="control-label"></label>
                    <input asp-for="SerialNumber" class="form-control" placeholder="Enter Serial No" required id="serial"/>
                    <span asp-validation-for="SerialNumber" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2 mb-2">
                    <label asp-for="PO" class="control-label"></label>
                    <input asp-for="PO" class="form-control" placeholder="Enter PO" required />
                    <span asp-validation-for="PO" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2 mb-2">
                    <label asp-for="Price" class="control-label"></label>
                    <input type="number" asp-for="Price" class="form-control" placeholder="Enter Price" required />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2 mb-3">
                    <label asp-for="MonitorVendor" class="control-label"></label>
                    <select asp-for="MonitorVendor" class="form-select" asp-items="ViewBag.MTVendor" required>
                        <option selected disabled>select vendor</option>
                    </select>
                    <span asp-validation-for="MonitorVendor" class="text-danger"></span>
                </div>

                <div class="form-group col-md-2 mb-2">
                    <label asp-for="PurchaseDate" class="control-label"></label>
                    <input asp-for="PurchaseDate" class="form-control" />
                    <span asp-validation-for="PurchaseDate" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2 mb-2">
                    <label asp-for="DeployedDate" class="control-label"></label>
                    <input asp-for="DeployedDate" class="form-control" required />
                    <span asp-validation-for="DeployedDate" class="text-danger"></span>
                </div>
                <div class="form-group cold-md-2 d-flex align-items-end gap-3 mt-3">
                    <input type="submit" value="Create" class="btn btn-theme " />
                    <a class="btn btn-outline-secondary" asp-controller="MonitorInventories" asp-action="Index">Back to List</a>
                </div>
            </div>
        </form>
    </div>
    <div class="displaytable"></div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var code = $("#code").val();
            if (code) {
                $("#serial").click(function () {
                    loadPartialView(code);
                })
            }
            function loadPartialView(InvCode) {
                if (InvCode) {
                    $.ajax({
                        url: '@Url.Action("MTInvPartialView", "MonitorInventories")',
                        type: "GET",
                        data: { code: InvCode },
                        success: function (res) {
                            $(".displaytable").html(res);
                        },
                        error: function (xhr, status, error) {
                            console.log("Error: " + error);
                        }
                    });
                }
            }
        })
    </script>
}
