@model AssetManagement.Models.MonitorDetail

@{
    ViewData["Title"] = "Edit Monitor Detail";
}


<div class="m-4">
    <h4>Edit Monitor Details</h4>

    <hr />
    <div class="row">
        <form asp-action="Edit">
            <div class="row form-group">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group col-md-3 mb-3">
                    <label asp-for="monitorCode" class="control-label"></label>
                    <input asp-for="monitorCode" class="form-control" readonly />
                    <span asp-validation-for="monitorCode" class="text-danger"></span>
                </div>

                <div class="form-group col-md-3 mb-3">
                    <label asp-for="SerialNumber" class="control-label"></label>
                    <input asp-for="SerialNumber" class="form-control" readonly />
                    <span asp-validation-for="SerialNumber" class="text-danger"></span>
                </div>

                <div class="form-group col-md-3 mb-3">
                    <label asp-for="PO" class="control-label"></label>
                    <input asp-for="PO" class="form-control" />
                    <span asp-validation-for="PO" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3 mb-3">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3 mb-3">
                    <label asp-for="MonitorVendor" class="control-label"></label>
                    <select asp-for="MonitorVendor" class="form-select" asp-items="ViewBag.MonitorVendor"></select>
                    <span asp-validation-for="MonitorVendor" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3 mb-3">
                    <label asp-for="MonitorStatus" class="control-label"></label>
                    <select asp-for="MonitorStatus" class="form-select" asp-items="ViewBag.MonitorStatus"></select>
                    <span asp-validation-for="MonitorStatus" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3 mb-3">
                    <label asp-for="PurchaseDate" class="control-label"></label>
                    <input asp-for="PurchaseDate" class="form-control" />
                    <span asp-validation-for="PurchaseDate" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3 mb-3">
                    <label asp-for="DeployedDate" class="control-label"></label>
                    <input asp-for="DeployedDate" class="form-control" />
                    <span asp-validation-for="DeployedDate" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3 mb-3" hidden>
                    <label asp-for="DetailCreated" class="control-label"></label>
                    <select asp-for="DetailCreated" class="form-control" asp-items="ViewBag.DetailCreated"></select>
                    <span asp-validation-for="DetailCreated" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3 mb-3" hidden>
                    <label asp-for="DateCreated" class="control-label"></label>
                    <input asp-for="DateCreated" class="form-control" />
                    <span asp-validation-for="DateCreated" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3 mb-3" hidden>
                    <label asp-for="DetailUpdated" class="control-label"></label>
                    <select asp-for="DetailUpdated" class="form-control" asp-items="ViewBag.DetailUpdated"></select>
                    <span asp-validation-for="DetailUpdated" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3 mb-3" hidden>
                    <label asp-for="DateUpdated" class="control-label"></label>
                    <input asp-for="DateUpdated" class="form-control" />
                    <span asp-validation-for="DateUpdated" class="text-danger"></span>
                </div>
                <div class="d-flex align-items-end gap-3 mt-2">
                    <input type="submit" value="Save" class="btn btn-theme" />
                    <a class="btn btn-outline-secondary" asp-action="Index">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
