@model AssetManagement.Models.ReturnLTA

@{
    ViewData["Title"] = "Return Laptop";
}

<div class="m-4 px-1">
    <h4>Return Laptop Allocation</h4>
    <hr />

    <div>
        <form asp-action="Create" id="createForm">
            <div class="row form-group">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="AllocID" value="@ViewBag.allocID" class="form-control" hidden />

                <div class="form-group col-md-3 mb-3">
                    <label for="laptopCode" class="control-label">Laptop Code</label>
                    <input id="laptopCode" value="@ViewBag.LTCode" class="form-control" disabled />
                </div>

                <div class="form-group col-md-3 mb-3">
                    <label for="serialNo" class="control-label">Serial Number</label>
                    <input id="serialNo" value="@ViewBag.LTSerial" disabled class="form-control" />
                </div>

                <div class="form-group col-md-3 mb-3">
                    <label asp-for="RTtype" class="control-label"></label>
                    <select asp-for="RTtype" class="form-select" asp-items="ViewBag.LTReturnType">
                        <option selected disabled>Select Return Type </option>
                    </select>
                    <span asp-validation-for="RTtype" class="text-danger"></span>
                </div>

                <div class="form-group d-flex align-items-end gap-3 mt-3">
                    <input type="submit" value="Save" class="btn btn-theme" />
                    <a class="btn btn-outline-secondary" asp-action="ReturnPartialView" asp-controller="LaptopAllocations">
                        <span class="fas fa-undo"></span>
                        Back to Return List
                    </a>
                    <a class="btn btn-outline-secondary" asp-action="Index" asp-controller="LaptopAllocations">
                        <span class="fas fa-undo"></span>
                        Go To Inventory Allocation
                    </a>
                </div>
            </div>
        </form>
    </div>
    <div class="displaytable"></div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
