@model AssetManagement.Models.GraphicsCard

@{
    ViewData["Title"] = "Create";
    Layout = null;
}

<form asp-controller="GraphicsCards" asp-action="Create">
    <div class="row g-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-md-4">
            <label asp-for="GraphicsDescription" class="form-label"></label>
            <input asp-for="GraphicsDescription" class="form-control" required />
            <span asp-validation-for="GraphicsDescription" class="text-danger"></span>
        </div>
        <div class="col-md-2 d-flex align-items-end gap-2">
            <input type="submit" value="Add" class="btn btn-theme" />
            <a class="btn btn-secondary" asp-controller="GraphicsCards" asp-action="Index">Back</a>
        </div>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
