@model AssetManagement.Models.GraphicsCard

@{
    ViewData["Title"] = "Edit";
}


<div class="m-4 px-1">
    <h4>Update Graphics Card</h4>
    <hr />

    <div>
        <form asp-action="Edit" class="row" id="edit-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GraphicsID" />
            <div class="form-group col-6">
                <label asp-for="GraphicsDescription" class="form-label"></label>
                <input asp-for="GraphicsDescription" class="form-control" />
                <span asp-validation-for="GraphicsDescription" class="text-danger"></span>
            </div>
            <div class="form-group col-4">
                <label asp-for="GraphicsStatus" class="control-label"></label>
                <input asp-for="GraphicsStatus" class="form-control" />
                <span asp-validation-for="GraphicsStatus" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="GraphicsCreatedBy" class="control-label"></label>
                <input asp-for="GraphicsCreatedBy" class="form-control" />
                <span asp-validation-for="GraphicsCreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="GraphicsCreatedDate" class="control-label"></label>
                <input asp-for="GraphicsCreatedDate" class="form-control" />
                <span asp-validation-for="GraphicsCreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="GraphicsUpdatedBy" class="control-label"></label>
                <input asp-for="GraphicsUpdatedBy" class="form-control" />
                <span asp-validation-for="GraphicsUpdatedBy" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="GraphicsUpdatedDate" class="control-label"></label>
                <input asp-for="GraphicsUpdatedDate" class="form-control" />
                <span asp-validation-for="GraphicsUpdatedDate" class="text-danger"></span>
            </div>
            <div class="form-group mt-4 mb-2 col">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    $(document).ready(function () {
        $(".btn-save").click(function () {

            var formData = $("#edit-form").serialize();
            $.ajax({
                url: "@Url.Action("Edit","Brands")",
                type: "POST",
                data: { formData: formData },
                success: function (res) {
                    window.location.reload();
                }
            })
        })
    })
</script>
