@model AssetManagement.Models.UpsBatteryRep

@{
    ViewData["Title"] = "Create";
}



<div class="m-4 px-1">
    <h4> Add UPS Battery Replacement</h4>
    <hr />

    <div>
        <form asp-action="Create">
            <div class="row form-group">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group col-md-4">
                    <label asp-for="UpsBattCode" class="control-label"></label>
                    <select asp-for="UpsBattCode" class="form-select" asp-items="ViewBag.UpsBattCode">
                        <option selected disabled>Select UPS Code</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="BatteryRepDate" class="control-label"></label>
                    <input asp-for="BatteryRepDate" class="form-control" />
                    <span asp-validation-for="BatteryRepDate" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="BatteryRepRemarks" class="control-label"></label>
                    <input asp-for="BatteryRepRemarks" class="form-control" />
                    <span asp-validation-for="BatteryRepRemarks" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 mt-4">
                    <input type="submit" value="Create" class="btn btn-success" />
                    <a class="btn btn-secondary" asp-action="Index">Back</a>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
