@model AssetManagement.Models.UpsBatteryRep

@{
    ViewData["Title"] = "Create";
}
<style>

    *,
    *::before,
    *::after {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    .custom-fontsize {
        font-size: 11px;
    }


    body {
        font-family: 'Chivo', sans-serif;
        margin: 0;
        padding: 10px;
        overflow: hidden;
    }



    /* Add this CSS to adjust the top margin of the layout container */
    .container {
        margin-top: 70px; /* Adjust this value according to your navbar height */
    }

</style>


<h4>Create UpsBatteryRep</h4>
<hr />
<div class="row">
        <form asp-action="Create">
            <div class="row form-group">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-4">
                <label asp-for="UpsBattCode" class="control-label"></label>
                <select asp-for="UpsBattCode" class ="form-control" asp-items="ViewBag.UpsBattCode"></select>
            </div>
            <div class="form-group col-4">
                <label asp-for="BatteryRepDate" class="control-label"></label>
                <input asp-for="BatteryRepDate" class="form-control" />
                <span asp-validation-for="BatteryRepDate" class="text-danger"></span>
            </div>
            <div class="form-group col-4">
                <label asp-for="BatteryRepRemarks" class="control-label"></label>
                <input asp-for="BatteryRepRemarks" class="form-control" />
                <span asp-validation-for="BatteryRepRemarks" class="text-danger"></span>
            </div>
            <div class="form-group col-4">
                <input type="submit" value="Create" class="bg-success h5 text-white text-decoration-none p-2 btn createbtn" />
                <a class="btn btn-sm bg-secondary h5 text-white text-decoration-none p-2 btn createbtn" asp-action="Index">BACK</a>
            </div>
        </div>
        </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
