@model AssetManagement.Models.UserDepartment

@{
    ViewData["Title"] = "Create";
}


@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}

<div class="m-4">
    <h4>Add User Department</h4>
    <hr />
        <form asp-action="Create">
        <div class="row form-group">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-4">
                <label asp-for="UserCode" class="control-label">USER FULL NAME</label>
                <select  asp-for="UserCode" class="form-select" asp-items="ViewBag.UserCode">
                    <option disabled selected>Select User</option>
                </select>
            </div>
            <div class="form-group col-4">
                <label asp-for="DeptCode" class="control-label">DEPARTMENT NAME</label>
                <select asp-for="DeptCode" class="form-select" asp-items="ViewBag.DeptCode">
                    <option disabled selected>Select Department</option>
                </select>
            </div>

            <div class="form-group mt-4 mb-2 col d-flex align-items-center gap-2">
                <input type="submit" value="Create" class="btn bg-success text-white" />
                <a class="btn bg-secondary text-white " asp-action="Index">Back</a>
            </div>
        </div>
        </form>
   
</div>

<div class="displaytable"></div>

<script>
    // 2 SELECT FUNCTIONALITY
    $(document).ready(function () {
        // Get the initial selected value
        var initialSelectedValue = $("#userCode").val();

        // Set the initial selected value of the hidden select
        $("select[name='UserStore.UserCode']").val(initialSelectedValue);

        $("#userCode").change(function () {
            var selectedValue = $(this).val();

            // Set the selected value of the hidden select
            $("select[name='UserStore.UserCode']").val(selectedValue);
        });
    });


    //AJAX
    $(document).ready(function () {

        $("#userCode").change(function () {
            var userCode = $(this).val();

            $.ajax({
                url: "@Url.Action("UserDepartmentView","UserDepartments")",
                type: "GET",
                data: { userCODE: userCode },
                traditional: true,
                success: function (res) {
                    $(".displaytable").html(res);
                }
            });
        });
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
